{{!< default}}

<div class="content-area">
<main class="site-main">

    {{#get "posts" filter="featured:true"}}
    <div class="tag-feed owl" data-count="{{pagination.total}}">

        {{#foreach posts}}
        <div class="tag u-placeholder">
            <img class="tag-image u-object-fit" src="{{#if feature_image}}{{img_url feature_image}}{{else}}{{@site.cover_image}}{{/if}}" alt="{{name}}">
            <div class="tag-content">
                <h2 class="tag-name">{{title}}</h2>

                {{#if custom_excerpt}}
                    <div class="tag-description">
                        {{custom_excerpt}}
                    </div>
                {{/if}}
            </div>
            <a class="u-permalink" href="{{url}}"></a>
        </div>
        {{/foreach}}

    </div>
    {{/get}}


</main>
</div>